.bg-image{
    background-image: url("https://ik.imagekit.io/ogjpdjmgc/project/istockphoto-155096944-612x612.jpg?updatedAt=1719148652518");
    height: 500px;
    width: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    
}

 
